*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
}
header img{
    width: 300px;
    padding: 10px;
}

nav{
    background-color:  rgb(255, 102, 1) ;
    color: black;
    padding-left: 10px;
}

nav a{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
}

nav a:hover{
    background-color: black;
    color:rgb(255, 102, 1) ;
    text-decoration: none;
}

.section_bienvenido{
    /* background-color: cornflowerblue; */
    /* Flex */
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.titulo-principal{
    border-bottom: rgb(255, 102, 1) 2px solid;
}

.aviso-pregunta{
    /* Flex */
    display: flex;
    align-items: center;
}

.aviso-pregunta img{
    width: 70px;
}

.aviso-pregunta p{
    font-size: 20px;
    margin-top: 20px;
    background-color: gainsboro;
    padding: 10px;
    border-radius: 40px;
}
.section_bienvenido a{
    color: rgb(255, 102, 1);
    font-weight: bold;
}

.section_ingresar{
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: column;
    
}


.formulario{
    background-color: rgb(255, 102, 1) ;
    width: 80%;
    padding: 20px;
    align-self: center;

    display: flex;
    flex-direction: column;
    
    background: rgba(226,226,226,1);
    border: black 1px solid;
}

.section_ingresar span{
    font-size: 25px;
}

.section_ingresar label{
    margin-bottom: auto;
    font-size: 15px;
}

.section_ingresar input{
    margin-bottom: 10px;
    /* width: 80%; */
}
.section_ingresar button{
    width: 150px;
    align-self: center;
    margin-top: 10px;
    background-color:rgb(255, 102, 1) ;
    border:rgb(211, 85, 1) 3px solid;
    font-weight: bold;
    color: white;
}

.section_ingresar button:hover{
    background-color: orange;
    color: white;
}

.section-fotos{
    padding: 40px 0px;
}
.cuadro-fotos{
    display: flex;
    flex-direction: column;

}
.texto-debajo{
    background-color: black;
    color: white;
    padding: 2px 5px;
}

.section-fotos img{
    width: 100%;
    border: black 1px solid;
}

footer{
    font-size: 30px;
    text-align: center;
    border-top: rgb(255, 102, 1) 5px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p span{
    color:rgb(255, 102, 1);
    font-weight: bold;
}

footer>a{
    color: rgb(255, 102, 1);
}

footer>a:hover{
    color: rgb(255, 102, 1);
    text-decoration: none;
}
#accordion button{
    color: rgba(0, 0, 0, 0.699);
    font-size: 25px;
    font-weight: bold;
}
.card-header{
    padding: 1px;
}

.detalles-comida{
    border-bottom:grey 1px solid;
}
.detalles-comida .titulo-comida{
    font-weight: bold;
    font-size: 20px;
}
.detalles-comida span{
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
}

.detalles-comida .precio{
    font-weight: bold;  
    font-size: 20px;
}

.btn ion-icon{
    /* color: black; */
    padding: 0;
    font-size: 20px;
    margin-right: -5px;    
}

#accordion button:hover{
    text-decoration: none;
}

#accordion button:focus{
    text-decoration: none;
}
.detalles-comida:hover{
    -moz-box-shadow: 0px 0px 30px rgb(255, 248, 182);
    -webkit-box-shadow: 0px 0px 30px rgb(255, 248, 182);
    box-shadow: 0px 0px 30px rgb(255, 248, 182);
}

#mi-pedido .card-header{
    padding: 25.1px;
}

#mi-pedido .card-body{
    /* background-color: red; */
    text-align: right;
    font-size: 15px;
}

#mi-pedido .card-body .btn{
    padding: 10px 1%;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
}
#mi-pedido input{
    width: 100px;
    margin-left: 20px;
}
#mi-pedido .comentario-envio p{
    color: rgb(255, 102, 1);
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.container-sugerencias img{
    width: 250px;
}

.container-sugerencias img:hover{ 
    border: black 4px  solid;
}
